@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "mixins/mixins";

@import "mediaQueries";
@import "grid12";



*,
body,
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  // background: purple;
}
@import "header";
@import "content-area";
h1 {
  font-weight: 100;
  font-size: 50px;
}
.clear {
  clear: both;
}
header {
  ul {
    li{
      display: inline-block;
      padding: 20px;
    }
  }
}
